*{
  box-sizing: border-box;
}

.row{
  margin-right: 0;
  width: fit-content;
  position: fixed;
  left: 0;
  top: 0;
  width: 17vw;
}

#sidemenu{
  flex-direction: column;
}

#sidemenu li a{
  text-align: center;
}

.flex-column *{
  border: none;
  outline: none;
}


.header-title{
  font-weight: 700;
}

#triggerId{
  background-color: blue;
}

.dropdown-menu a{
  color: blue;
}

.login-link{
  font-weight: 700;
}

.flex-column{
  background-color: blue;
}
.nav-pills li a{
  color: white;
}
.nav-pills li a:hover{
  background-color: rgb(255, 255, 255);
  color: blue;
}

.ms-2{
  white-space: nowrap;
  text-align: center;
}

.main{
  width: 80vw;
  margin-left: 17vw;
}

.form-group{
  margin-top: 25px;
}

.form-group{
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.button-finished{
  width: 100px;
  margin-top: 25px;
  margin-bottom: 50px;
}

@media (max-width: 1540px) {
  .ms-2{
    white-space: wrap;
  }
  .nav-link{
    text-align: center;
  }
}