<!DOCTYPE html>
<html lang="en">
<head> <!--https://codehandbook.org/create-login-page-python-flask-bootstrap/-->
  <!--button{-webkit-appearance:button}[type=button]:not(:disabled),-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel='stylesheet' href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  
  <title>Заполнить карту</title>
</head>
<body>
  <div class='container-fluid d-flex'>
    <div class='row'>
      <div class='d-flex flex-column justify-content-between col-auto  min-vh-100'>
        <div class='mt-4'>
          <a class='text-white text-decoration-none d-flex align-items-center justify-content-center' role='button'>
            <span class='fs-4'>Меню</span>
          </a>
          <hr class='text-white'>
          <ul class='nav nav-pills flex-column mt-2 mt-sm-0' id='menu'>
            <li class="nav-item my-sm-1 my-2">
              <a href="#section_general" class="nav-link" area-current='page'>
                <i class="fa fa-gauge"></i>
                <span class='ms-2'>Общие сведения</span>
              </a>
            </li>
            <li class="nav-item my-sm-1 my-2">
              <a href="#section_skin" class="nav-link" area-current='page'>
                <!--<i class="fas fa-hand-paper-o" aria-hidden="true"></i>-->
                <span class='ms-2'>Кожные покровы</span>
              </a>
            </li>
            <li class="nav-item my-sm-1 my-2">
              <a href="#section_breath" class="nav-link" area-current='page'>
                <span class='ms-2'>Дыхательная система</span>
              </a>
            </li>
            <li class="nav-item my-sm-1 my-2">
              <a href="#section_heart" class="nav-link" area-current='page'>
                <span class='ms-2'>Сердечно-сосудистая система</span>
              </a>
            </li>
            <li class="nav-item my-sm-1 my-2">
              <a href="#section_stomach" class="nav-link" area-current='page'>
                <span class='ms-2'>Органы пищеварения</span>
              </a>
            </li>
            <li class="nav-item my-sm-1 my-2">
              <a href="#section_nerves" class="nav-link" area-current='page'>
                <i class="fa fa-gauge"></i>
                <span class='ms-2'>Нервная система</span>
              </a>
            </li>
            <li class="nav-item my-sm-1 my-2">
              <a href="#section_urogenital" class="nav-link" area-current='page'>
                <i class="fa fa-gauge"></i>
                <span class='ms-2'>Мочеполовая система</span>
              </a>
            </li>
            <li class="nav-item my-sm-1 my-2">
              <a href="#section_local_status" class="nav-link" area-current='page'>
                <i class="fa fa-gauge"></i>
                <span class='ms-2'>Локальный статус</span>
              </a>
            </li>
            <li class="nav-item my-sm-1 my-2">
              <a href="#section_help" class="nav-link" area-current='page'>
                <i class="fa fa-gauge"></i>
                <span class='ms-2'>Оказанная помощь</span>
              </a>
            </li>
            <li class="nav-item my-sm-1 my-2">
              <a href="#section_diagnosis" class="nav-link" area-current='page'>
                <i class="fa fa-gauge"></i>
                <span class='ms-2'>Диагноз</span>
              </a>
            </li>
          </ul>
        </div>
        <div>
          <div class="dropdown open">
            <a class="btn btn-secondary border-none outline-none text-white dropdown-toggle" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                  <i class="fa fa-user"></i><span class='ms-1'>Профиль</span>
                </a>
            <div class="dropdown-menu" aria-labelledby="triggerId">
              <a class="dropdown-item" href="#">Настройки</a>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="main">
      <section id="section_general">
      <h2>Общие сведения</h2>
        <form action="{{ url_for('card.general')}}" method="POST" class="patien-form">
          {{ form_general.csrf_token }}
          <div class="form-group mb-3">
            {{ form_general.complaints() }}
          </div>
          <div class="form-group mb-3">
            {{ form_general.anamnesis() }}
          </div>

          <div class="form-group mb-3">
            {{form_general.condition.label}}
            {{ form_general.condition() }}
          </div>

          <div class="form-group mb-3">
            {{form_general.glazgow_scale.label}}
            {{ form_general.glazgow_scale() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.body_position.label}}
            {{ form_general.body_position() }}
          </div>
        
          <h2>Показатели до оказания помощи</h2>
          <div class="form-group mb-3">
            {{form_general.t_body.label}}
            {{ form_general.t_body() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.oxygen_saturation.label}}
            {{ form_general.oxygen_saturation(min="0", max="100") }}
          </div>
          <div class="form-group mb-3">
            {{form_general.respiratory_rate.label}}
            {{ form_general.respiratory_rate() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.heart_rate.label}}
            {{ form_general.heart_rate() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.pulse.label}}
            {{ form_general.pulse() }}
          </div>

          <div class="form-group mb-3">
            {{form_general.blood_glucose.label}}
            {{ form_general.blood_glucose() }}
          </div>

          <div class="d-grid button-finished">
            {{ form_general.submit() }} <!--Кнопка отвправить-->
          </div>
        </form>
      </section>
      <section id="section_skin">
      <h2>Кожные покровы</h2>
      <form action="{{ url_for('card.skin')}}" method="POST" class="patien-form">
        {{ form_skin.csrf_token }}
        <div class="form-group mb-3">
          {{form_skin.skin_dryness.label}}
          {{ form_skin.skin_dryness() }}
        </div>

        <div class="form-group mb-3">
          {{form_skin.skin_colour.label}}
          {{ form_skin.skin_colour() }}
        </div>

        <div class="form-group mb-3">
          {{form_skin.skin_yellowness.label}}
          {{ form_skin.skin_yellowness() }}
        </div>
        <div class="form-group mb-3">
          {{form_skin.skin_rash.label}}
          {{ form_skin.skin_rash() }}
        </div>

        <div class="form-group mb-3">
          {{form_skin.skin_throat.label}}
          {{ form_skin.skin_throat() }}
        </div>

        <div class="form-group mb-3">
          {{form_skin.skin_tonsils.label}}
          {{ form_skin.skin_tonsils() }}
        </div>

        <div class="form-group mb-3">
          {{form_skin.skin_lymph_nodes.label}}
          {{ form_skin.skin_lymph_nodes() }}
        </div>

        <div class="form-group mb-3">
          {{form_skin.skin_swelling.label}}
          {{ form_skin.skin_swelling() }}
        </div>

        <div class="d-grid button-finished">
          {{ form_skin.submit() }} <!--Кнопка отвправить-->
        </div>
      </form>
      
      </section>
      <section id="section_breath">
      <h2>Дыхательная система</h2>
      <form action="{{ url_for('card.breath')}}" method="POST" class="patient-form">
        {{ form_breath.csrf_token }}
        <div class="form-group mb-3">
          {{form_breath.respiratory_type.label}}
          {{ form_breath.respiratory_type() }}
        </div>

        <div class="form-group mb-3">
          {{form_breath.breath_wheezing.label}}
          {{ form_breath.breath_wheezing() }}
        </div>

        
        <div class="form-group mb-3">
          {{form_breath.breath_wheezing_localisation.label}}
          {{ form_breath.breath_wheezing_localisation() }}
        </div>

        
        <div class="form-group mb-3">
          {{form_breath.breath_dyspnea.label}}
          {{ form_breath.breath_dyspnea() }}
        </div>

        <div class="d-grid button-finished">
          {{ form_breath.submit() }} <!--Кнопка отвправить-->
        </div>
      </form>
    
      </section>
      <section id="section_heart">
      <h2>Сердечно сосудистая система</h2>
      <form action ="{{ url_for('card.heart')}}" method="POST" class="patien-form">
        {{ form_breath.csrf_token }}
        <div class="form-group mb-3">
          {{form_heart.heart_sounds.label}}
          {{ form_heart.heart_sounds() }}
        </div>
        <div class="form-group mb-3">
          {{form_heart.heart_sounds_type.label}}
          {{ form_heart.heart_sounds_type() }}
        </div>

        <div class="form-group mb-3">
          {{form_heart.heart_murmur.label}}
          {{ form_heart.heart_murmur() }}
        </div>

        <div class="form-group mb-3">
          {{form_heart.heart_pulse.label}}
          {{ form_heart.heart_pulse() }}
        </div>
        
        <div class="form-group mb-3">
          {{form_heart.heart_rate_deficit.label}}
          {{ form_heart.heart_rate_deficit() }}
        </div>

        <div class="form-group mb-3">
          {{form_heart.heart_accent_tone.label}}
          {{ form_heart.heart_accent_tone() }}
        </div>

        <div class="d-grid button-finished">
          {{ form_heart.submit() }} <!--Кнопка отвправить-->
        </div>
      </form>
      </section>
      <section id="section_stomach">
        <h2>Органы пищеварения</h2>
        <form action ="{{ url_for('card.digestion')}}" method="POST" class="patien-form">
          {{ form_digestion.csrf_token }}
          <div class="form-group mb-3">
            {{form_digestion.abdominal_condition.label}}
            {{ form_digestion.abdominal_condition() }}
          </div>
          <div class="form-group mb-3">
            {{form_digestion.peritoneal_irritation_symptoms.label}}
            {{ form_digestion.peritoneal_irritation_symptoms() }}
          </div>
          <div class="form-group mb-3">
            {{form_digestion.stool_type.label}}
            {{ form_digestion.stool_type() }}
          </div>
          <div class="form-group mb-3">
            {{form_digestion.stool_type.label}}
            {{ form_digestion.stool_type() }}
          </div>
          <div class="form-group mb-3">
            {{form_digestion.stool_frequence_general.label}}
            {{ form_digestion.stool_frequence_general() }}
          </div>
          <div class="form-group mb-3">
            {{form_digestion.stool_frequence_specific.label}}
            {{ form_digestion.stool_frequence_specific() }}
          </div>
          <div class="d-grid button-finished">
            {{ form_heart.submit() }} <!--Кнопка отвправить-->
          </div>
        </form>
        
      </section>
      <section id="section_nerves">
        <h2>Нервная система</h2>
        <form action ="{{ url_for('card.nerves')}}" method="POST" class="patien-form">
          {{ form_nerves.csrf_token }}
          <div class="form-group mb-3">
            {{form_nerves.behaviour.label}}
            {{ form_nerves.behaviour() }}
          </div>
          <div class="form-group mb-3">
            {{form_nerves.meningial_symptoms.label}}
            {{ form_nerves.meningial_symptoms() }}
          </div>
          <div class="form-group mb-3">
            {{form_nerves.reaction_to_light.label}}
            {{ form_nerves.reaction_to_light() }}
          </div>
          <div class="form-group mb-3">
            {{form_nerves.pupils.label}}
            {{ form_nerves.pupils() }}
          </div>
          <div class="form-group mb-3">
            {{form_nerves.anisocoria.label}}
            {{ form_nerves.anisocoria() }}
          </div>
          <div class="form-group mb-3">
            {{form_nerves.nystagmus.label}}
            {{ form_nerves.nystagmus() }}
          </div>
          <div class="form-group mb-3">
            {{form_nerves.focal_signs.label}}
            {{ form_nerves.focal_signs() }}
          </div>
          <div class="form-group mb-3">
            {{form_nerves.speech.label}}
            {{ form_nerves.speech() }}
          </div>
          <div class="form-group mb-3">
            {{form_nerves.paralysis.label}}
            {{ form_nerves.paralysis() }}
          </div>
          <div class="form-group mb-3">
            {{form_nerves.sensitivity.label}}
            {{ form_nerves.sensitivity() }}
          </div>
          <div class="d-grid button-finished">
            {{ form_nerves.submit() }} <!--Кнопка отвправить-->
          </div>
        </form>
      </section>
      <section id="section_urogenital">
        <h2>Мочеполовая система</h2>
        <form action ="{{ url_for('card.urogenital')}}" method="POST" class="patien-form">
          {{ form_urogenital.csrf_token }}
          <div class="form-group mb-3">
            {{form_urogenital.urination.label}}
            {{ form_urogenital.urination() }}
          </div>
          <div class="form-group mb-3">
            {{form_urogenital.pounding_symptom.label}}
            {{ form_urogenital.pounding_symptom() }}
          </div>
          <div class="form-group mb-3">
            {{form_urogenital.urine.label}}
            {{ form_urogenital.urine() }}
          </div>

          <div class="d-grid button-finished">
            {{ form_nerves.submit() }} <!--Кнопка отвправить-->
          </div>
          
        </form>
      </section>
      <section id="section_local_status">
        <h2>Локальный статус</h2>
        <form action ="{{ url_for('card.status_localis')}}" method="POST" class="patien-form">
          {{ form_status_localis.csrf_token }}
          <div class="form-group mb-3">
            {{form_status_localis.status_localis.label}}
            {{ form_status_localis.status_localis() }}
          </div>
        
          <div class="d-grid button-finished">
            {{ form_status_localis.submit() }} <!--Кнопка отвправить-->
          </div>
          
        </form>
      </section>
      <section id="section_help">
        <h2>Оказанная помощь</h2>
        <form action ="{{ url_for('card.aid')}}" method="POST" class="patien-form">
          {{ form_aid.csrf_token }}
          <div class="form-group mb-3">
            {{form_aid.ecg_before_aid.label}}
            {{ form_aid.ecg_before_aid() }}
          </div>
          <div class="form-group mb-3">
            {{form_aid.ecg_after_aid.label}}
            {{ form_aid.ecg_after_aid() }}
          </div>
          <div class="form-group mb-3">
            {{form_aid.aid_provided.label}}
            {{ form_aid.aid_provided() }}
          </div>
          <div class="form-group mb-3">
            {{form_aid.t_body_after_aid.label}}
            {{ form_aid.t_body_after_aid() }}
          </div>
          <div class="form-group mb-3">
            {{form_aid.respiratory_rate_after_aid.label}}
            {{ form_aid.respiratory_rate_after_aid() }}
          </div>
          <div class="form-group mb-3">
            {{form_aid.oxygen_saturation_after_aid.label}}
            {{ form_aid.oxygen_saturation_after_aid() }}
          </div>
          <div class="form-group mb-3">
            {{form_aid.heart_rate_after_aid.label}}
            {{ form_aid.heart_rate_after_aid() }}
          </div>
          <div class="form-group mb-3">
            {{form_aid.pulse_after_aid.label}}
            {{ form_aid.pulse_after_aid() }}
          </div>
          <div class="form-group mb-3">
            {{form_aid.blood_glucose_after_aid.label}}
            {{ form_aid.blood_glucose_after_aid() }}
          </div>
        
          <div class="d-grid button-finished">
            {{ form_aid.submit() }} <!--Кнопка отвправить-->
          </div>
          
        </form>
      </section>
      <section id="section_diagnosis">
        <h2>Диагноз</h2>
        <form action ="{{ url_for('card.diagnosis')}}" method="POST" class="patien-form">
          {{ form_diagnosis.csrf_token }}
          <div class="form-group mb-3">
            {{form_diagnosis.diagnosis.label}}
            {{ form_diagnosis.diagnosis() }}
          </div>
        
          <div class="d-grid button-finished">
            {{ form_diagnosis.submit() }} <!--Кнопка отвправить-->
          </div>
      </section>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</div>
</body>
</html>