<!DOCTYPE html>
<html lang="en">
<head> <!--https://codehandbook.org/create-login-page-python-flask-bootstrap/-->
  <!--button{-webkit-appearance:button}[type=button]:not(:disabled),-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel='stylesheet' href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  
  <title>Заполнить карту</title>
</head>
<body>
  <div class='container-fluid d-flex'>
    <div class='row'>
      <div class='d-flex flex-column justify-content-between col-auto  min-vh-100'>
        <div class='mt-4'>
          <a class='text-white text-decoration-none d-flex align-items-center justify-content-center' role='button'>
            <span class='fs-4'>Меню</span>
          </a>
          <hr class='text-white'>
          <ul class='nav nav-pills flex-column mt-2 mt-sm-0' id='menu'>
            <li class="nav-item my-sm-1 my-2">
              <a href="#section_general" class="nav-link" area-current='page'>
                <i class="fa fa-gauge"></i>
                <span class='ms-2'>Общие сведения</span>
              </a>
            </li>
            <li class="nav-item my-sm-1 my-2">
              <a href="#section_skin" class="nav-link" area-current='page'>
                <!--<i class="fas fa-hand-paper-o" aria-hidden="true"></i>-->
                <span class='ms-2'>Кожные покровы</span>
              </a>
            </li>
            <li class="nav-item my-sm-1 my-2">
              <a href="#section_breath" class="nav-link" area-current='page'>
                <span class='ms-2'>Дыхательная система</span>
              </a>
            </li>
            <li class="nav-item my-sm-1 my-2">
              <a href="#section_heart" class="nav-link" area-current='page'>
                <span class='ms-2'>Сердечно-сосудистая система</span>
              </a>
            </li>
            <li class="nav-item my-sm-1 my-2">
              <a href="#section_stomach" class="nav-link" area-current='page'>
                <span class='ms-2'>Органы пищеварения</span>
              </a>
            </li>
            <li class="nav-item my-sm-1 my-2">
              <a href="#section_nerves" class="nav-link" area-current='page'>
                <i class="fa fa-gauge"></i>
                <span class='ms-2'>Нервная система</span>
              </a>
            </li>
            <li class="nav-item my-sm-1 my-2">
              <a href="#section_urogenital" class="nav-link" area-current='page'>
                <i class="fa fa-gauge"></i>
                <span class='ms-2'>Мочеполовая система</span>
              </a>
            </li>
            <li class="nav-item my-sm-1 my-2">
              <a href="#section_local_status" class="nav-link" area-current='page'>
                <i class="fa fa-gauge"></i>
                <span class='ms-2'>Локальный статус</span>
              </a>
            </li>
            <li class="nav-item my-sm-1 my-2">
              <a href="#section_help" class="nav-link" area-current='page'>
                <i class="fa fa-gauge"></i>
                <span class='ms-2'>Оказанная помощь</span>
              </a>
            </li>
            <li class="nav-item my-sm-1 my-2">
              <a href="#section_diagnosis" class="nav-link" area-current='page'>
                <i class="fa fa-gauge"></i>
                <span class='ms-2'>Диагноз</span>
              </a>
            </li>
          </ul>
        </div>
        <div>
          <div class="dropdown open">
            <a class="btn btn-secondary border-none outline-none text-white dropdown-toggle" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                  <i class="fa fa-user"></i><span class='ms-1'>Профиль</span>
                </a>
            <div class="dropdown-menu" aria-labelledby="triggerId">
              <a class="dropdown-item" href="#">Настройки</a>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="main">
      <section id="section_general">
      <h2>Общие сведения</h2>
        <form action="{{ url_for('card.main_card')}}" method="POST" class="patien-form">
          {{ form_general.csrf_token }}
          {{ form_general.hidden_tag() }}
          <div class="form-group mb-3">
            {{ form_general.complaints() }}
          </div>
          <div class="form-group mb-3">
            {{ form_general.anamnesis() }}
          </div>

          <div class="form-group mb-3">
            {{form_general.general_assessment.label}}
            {{ form_general.general_assessment() }}
          </div>

          <div class="form-group mb-3">
            {{form_general.сonsciousness.label}}
            {{ form_general.сonsciousness() }}
          </div>

          <div class="form-group mb-3">
            {{form_general.glazgow_scale.label}}
            {{ form_general.glazgow_scale() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.body_position.label}}
            {{ form_general.body_position() }}
          </div>
        
          <h2>Показатели до оказания помощи</h2>
          <div class="form-group mb-3">
            {{form_general.t_body.label}}
            {{ form_general.t_body() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.oxygen_saturation.label}}
            {{ form_general.oxygen_saturation(min="0", max="100") }}
          </div>
          <div class="form-group mb-3">
            {{form_general.respiratory_rate.label}}
            {{ form_general.respiratory_rate() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.heartbite.label}}
            {{ form_general.heartbite() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.pulse.label}}
            {{ form_general.pulse() }}
          </div>

          <div class="form-group mb-3">
            {{form_general.blood_pressure_systolic.label}}
            {{ form_general.blood_pressure_systolic() }}
          </div>

          <div class="form-group mb-3">
            {{form_general.blood_pressure_diastolic.label}}
            {{ form_general.blood_pressure_diastolic() }}
          </div>

          <div class="form-group mb-3">
            {{form_general.normal_blood_pressure_systolic.label}}
            {{ form_general.normal_blood_pressure_systolic() }}
          </div>

          <div class="form-group mb-3">
            {{form_general.normal_blood_pressure_diastolic.label}}
            {{ form_general.normal_blood_pressure_diastolic() }}
          </div>

          <div class="form-group mb-3">
            {{form_general.blood_glucose.label}}
            {{ form_general.blood_glucose() }}
          </div>

      </section>
      <section id="section_skin">
      <h2>Кожные покровы</h2>
        <div class="form-group mb-3">
          {{form_general.dry_skin.label}}
          {{ form_general.dry_skin() }}
        </div>

        <div class="form-group mb-3">
          {{form_general.colour_skin.label}}
          {{ form_general.colour_skin() }}
        </div>

        <div class="form-group mb-3">
          {{form_general.jaundice.label}}
          {{ form_general.jaundice() }}
        </div>
        <div class="form-group mb-3">
          {{form_general.skin_rash.label}}
          {{ form_general.skin_rash() }}
        </div>

        <div class="form-group mb-3">
          {{form_general.throat.label}}
          {{ form_general.throat() }}
        </div>

        <div class="form-group mb-3">
          {{form_general.tonsils.label}}
          {{ form_general.tonsils() }}
        </div>

        <div class="form-group mb-3">
          {{form_general.lymph_nodes.label}}
          {{ form_general.lymph_nodes() }}
        </div>

        <div class="form-group mb-3">
          {{form_general.swelling.label}}
          {{ form_general.swelling() }}
        </div>

      
      </section>
      <section id="section_breath">
      <h2>Дыхательная система</h2>
    
        <div class="form-group mb-3">
          {{form_general.respiratory_type.label}}
          {{ form_general.respiratory_type() }}
        </div>

        <div class="form-group mb-3">
          {{form_general.wheezing.label}}
          {{ form_general.wheezing() }}
        </div>

        
        <div class="form-group mb-3">
          {{form_general.wheezing_localisation.label}}
          {{ form_general.wheezing_localisation() }}
        </div>

        
        <div class="form-group mb-3">
          {{form_general.breath_dyspnea.label}}
          {{ form_general.breath_dyspnea() }}
        </div>

    
      </section>
      <section id="section_heart">
      <h2>Сердечно сосудистая система</h2>

        <div class="form-group mb-3">
          {{form_general.heart_sounds.label}}
          {{ form_general.heart_sounds() }}
        </div>
        <div class="form-group mb-3">
          {{form_general.heart_sounds_type.label}}
          {{ form_general.heart_sounds_type() }}
        </div>

        <div class="form-group mb-3">
          {{form_general.heart_murmur.label}}
          {{ form_general.heart_murmur() }}
        </div>

        <div class="form-group mb-3">
          {{form_general.heart_pulse.label}}
          {{ form_general.heart_pulse() }}
        </div>
        
        <div class="form-group mb-3 checkbox">
          {{form_general.heart_rate_deficit.label}}
          {{ form_general.heart_rate_deficit() }}
        </div>

        <div class="form-group mb-3">
          {{form_general.heart_accent_tone.label}}
          {{ form_general.heart_accent_tone() }}
        </div>

      </section>
      <section id="section_stomach">
        <h2>Органы пищеварения</h2>
          <div class="form-group mb-3">
            {{form_general.stomach_general.label}}
            {{ form_general.stomach_general() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.stomach_charasteristics.label}}
            {{ form_general.stomach_charasteristics() }}
          </div>
          <div class="form-group mb-3 checkbox">
            {{form_general.stomach_participation_in_breathing.label}}
            {{ form_general.stomach_participation_in_breathing() }}
          </div>
          <div class="form-group mb-3 checkbox">
            {{form_general.sypmtom_shchetkin_blumberg.label}}
            {{ form_general.sypmtom_shchetkin_blumberg() }}
          </div>
          <div class="form-group mb-3 checkbox">
            {{form_general.symptom_voskresensky.label}}
            {{ form_general.symptom_voskresensky() }}
          </div>
          <div class="form-group mb-3 checkbox">
            {{form_general.symptom_ortner.label}}
            {{ form_general.symptom_ortner() }}
          </div>
          <div class="form-group mb-3 checkbox">
            {{form_general.symptom_rovzing.label}}
            {{ form_general.symptom_rovzing() }}
          </div>
          <div class="form-group mb-3 checkbox">
            {{form_general.symptom_pasternatsky.label}}
            {{ form_general.symptom_pasternatsky() }}
          </div>
          <div class="form-group mb-3 checkbox">
            {{form_general.symptom_sitkovsky.label}}
            {{ form_general.symptom_sitkovsky() }}
          </div>
          <div class="form-group mb-3 checkbox">
            {{form_general.symptom_obraztsov.label}}
            {{ form_general.symptom_obraztsov() }}
          </div>
          <div class="form-group mb-3 checkbox">
            {{form_general.symptom_murphy.label}}
            {{ form_general.symptom_murphy() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.other_perritonial_symptoms.label}}
            {{ form_general.other_perritonial_symptoms() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.stool_type.label}}
            {{ form_general.stool_type() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.stool_type.label}}
            {{ form_general.stool_type() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.stool_frequence_general.label}}
            {{ form_general.stool_frequence_general() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.frequency_of_bowel_movement.label}}
            {{ form_general.frequency_of_bowel_movement() }}
          </div>
        
      </section>
      <section id="section_nerves">
        <h2>Нервная система</h2>
          <div class="form-group mb-3">
            {{form_general.behaviour.label}}
            {{ form_general.behaviour() }}
          </div>
          <div class="form-group mb-3 checkbox">
            {{form_general.no_meningeal_symptoms.label}}
            {{ form_general.no_meningeal_symptoms() }}
          </div>
          <div class="form-group mb-3 checkbox">
            {{form_general. nuchal_rigidity.label}}
            {{ form_general. nuchal_rigidity() }}
          </div>
          <div class="form-group mb-3 checkbox">
            {{form_general.symptom_kerning.label}}
            {{ form_general.symptom_kerning() }}
          </div>
          <div class="form-group mb-3 checkbox">
            {{form_general.symptom_brudzinski.label}}
            {{ form_general.symptom_brudzinski() }}
          </div>
          <div class="form-group mb-3 checkbox">
            {{form_general.reaction_to_light.label}}
            {{ form_general.reaction_to_light() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.pupils.label}}
            {{ form_general.pupils() }}
          </div>
          <div class="form-group mb-3 checkbox">
            {{form_general.anisocoria.label}}
            {{ form_general.anisocoria() }}
          </div>
          <div class="form-group mb-3 checkbox">
            {{form_general.nystagmus.label}}
            {{ form_general.nystagmus() }}
          </div>
          <div class="form-group mb-3 checkbox">
            {{form_general.focal_signs.label}}
            {{ form_general.focal_signs() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.speech.label}}
            {{ form_general.speech() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.paralysis.label}}
            {{ form_general.paralysis() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.sensitivity.label}}
            {{ form_general.sensitivity() }}
          </div>
      </section>
      <section id="section_urogenital">
        <h2>Мочеполовая система</h2>
        <div class="form-group mb-3">
          {{form_general.painless_urination.label}}
          {{ form_general.painless_urination() }}
        </div>
          <div class="form-group mb-3">
            {{form_general.urination.label}}
            {{ form_general.urination() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.kidney_punch.label}}
            {{ form_general.kidney_punch() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.urine.label}}
            {{ form_general.urine() }}
          </div>

      </section>
      <section id="section_local_status">
        <h2>Локальный статус</h2>
          <div class="form-group mb-3">
            {{form_general.status_localis.label}}
            {{ form_general.status_localis() }}
          </div>
        
      </section>
      <section id="section_help">
        <h2>Оказанная помощь</h2>
          <div class="form-group mb-3">
            {{form_general.ecg_before_aid.label}}
            {{ form_general.ecg_before_aid() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.ecg_after_aid.label}}
            {{ form_general.ecg_after_aid() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.aid_provided.label}}
            {{ form_general.aid_provided() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.temperature_after_aid.label}}
            {{ form_general.temperature_after_aid() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.respiratory_rate_after_aid.label}}
            {{ form_general.respiratory_rate_after_aid() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.oxygen_saturation_after_aid.label}}
            {{ form_general.oxygen_saturation_after_aid() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.heartbite_after_aid.label}}
            {{ form_general.heartbite_after_aid() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.pulse_after_aid.label}}
            {{ form_general.pulse_after_aid() }}
          </div>

          <div class="form-group mb-3">
            {{form_general.blood_pressure_systolic_after_aid.label}}
            {{ form_general.blood_pressure_systolic_after_aid() }}
          </div>

          <div class="form-group mb-3">
            {{form_general.blood_pressure_diastolic_after_aid.label}}
            {{ form_general.blood_pressure_diastolic_after_aid() }}
          </div>

          <div class="form-group mb-3">
            {{form_general.blood_glucose_after_aid.label}}
            {{ form_general.blood_glucose_after_aid() }}
          </div>
      </section>
      <section id="section_diagnosis">
        <h2>Диагноз</h2>
          <div class="form-group mb-3">
            {{form_general.diagnosis.label}}
            {{ form_general.diagnosis() }}
          </div>
        
          <div class="d-grid button-finished">
            {{ form_general.submit() }} <!--Кнопка отвправить-->
          </div>
      </section>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</div>
</body>
</html>