<!DOCTYPE html>
<html lang="en">
<head> <!--https://codehandbook.org/create-login-page-python-flask-bootstrap/-->
  <!--button{-webkit-appearance:button}[type=button]:not(:disabled),-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel='stylesheet' href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  
  <title>Заполнить карту</title>
</head>
<body>
 
  <div class='container-fluid d-flex'>
    <div class='row'>
      <div class='d-flex flex-column justify-content-between col-auto  min-vh-100'>
        <div class='mt-4'>
          <a class='text-white text-decoration-none d-flex align-items-center justify-content-center' role='button'>
            <span class='fs-4'>Меню</span>
          </a>
          <hr class='text-white'>
          <ul class='nav nav-pills flex-column mt-2 mt-sm-0' id='menu'>
            <li class="nav-item my-sm-1 my-2">
              <a href="#section_general" class="nav-link" area-current='page'>
                <i class="fa fa-gauge"></i>
                <span class='ms-2'>Общие сведения</span>
              </a>
            </li>
            <li class="nav-item my-sm-1 my-2">
              <a href="#section_skin" class="nav-link" area-current='page'>
                <!--<i class="fas fa-hand-paper-o" aria-hidden="true"></i>-->
                <span class='ms-2'>Кожные покровы</span>
              </a>
            </li>
            <li class="nav-item my-sm-1 my-2">
              <a href="#section_breath" class="nav-link" area-current='page'>
                <span class='ms-2'>Дыхательная система</span>
              </a>
            </li>
            <li class="nav-item my-sm-1 my-2">
              <a href="#section_heart" class="nav-link" area-current='page'>
                <span class='ms-2'>Сердечно-сосудистая система</span>
              </a>
            </li>
            <li class="nav-item my-sm-1 my-2">
              <a href="#section_stomach" class="nav-link" area-current='page'>
                <span class='ms-2'>Органы пищеварения</span>
              </a>
            </li>
            <li class="nav-item my-sm-1 my-2">
              <a href="#section_nerves" class="nav-link" area-current='page'>
                <i class="fa fa-gauge"></i>
                <span class='ms-2'>Нервная система</span>
              </a>
            </li>
            <li class="nav-item my-sm-1 my-2">
              <a href="#section_urogenital" class="nav-link" area-current='page'>
                <i class="fa fa-gauge"></i>
                <span class='ms-2'>Мочеполовая система</span>
              </a>
            </li>
            <li class="nav-item my-sm-1 my-2">
              <a href="#section_local_status" class="nav-link" area-current='page'>
                <i class="fa fa-gauge"></i>
                <span class='ms-2'>Локальный статус</span>
              </a>
            </li>
            <li class="nav-item my-sm-1 my-2">
              <a href="#section_help" class="nav-link" area-current='page'>
                <i class="fa fa-gauge"></i>
                <span class='ms-2'>Оказанная помощь</span>
              </a>
            </li>
            <li class="nav-item my-sm-1 my-2">
              <a href="#section_diagnosis" class="nav-link" area-current='page'>
                <i class="fa fa-gauge"></i>
                <span class='ms-2'>Диагноз</span>
              </a>
            </li>
          </ul>
        </div>
        <div>
          <div class="dropdown open">
            <a class="btn btn-secondary border-none outline-none text-white dropdown-toggle" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                  <i class="fa fa-user"></i><span class='ms-1'>Профиль</span>
                </a>
            <div class="dropdown-menu" aria-labelledby="triggerId">
              <a class="dropdown-item" href="#">Настройки</a>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="main">
      <section id="section_general">
      <h2>Общие сведения</h2>
        <form action="{{ url_for('card.main_card')}}" method="POST" class="patien-form">
          {{ form_general.hidden_tag() }}
          {{ form_general.csrf_token }}
          <div class="form-group mb-3">
            {{ form_general.zhaloby() }}
          </div>
          <div class="form-group mb-3">
            {{ form_general.anamnesis() }}
          </div>

          <div class="form-group mb-3">
            {{form_general.general_assessment.label}}
            {{ form_general.general_assessment() }}
          </div>

          <div class="form-group mb-3">
            {{form_general.сonsciousness.label}}
            {{ form_general.сonsciousness() }}
          </div>

          <div class="form-group mb-3">
            {{form_general.glasgow_scale.label}}
            {{ form_general.glasgow_scale() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.body_position.label}}
            {{ form_general.body_position() }}
          </div>
        
          <h2>Показатели до оказания помощи</h2>
          <div class="form-group mb-3">
            {{form_general.temperature_before.label}}
            {{ form_general.temperature_before() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.saturation_before.label}}
            {{ form_general.saturation_before(min="0", max="100") }}
          </div>
          <div class="form-group mb-3">
            {{form_general.respiratory_rate_before.label}}
            {{ form_general.respiratory_rate_before() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.heartbite_before.label}}
            {{ form_general.heartbite_before() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.pulse_before.label}}
            {{ form_general.pulse_before() }}
          </div>

          <div class="form-group mb-3">
            {{form_general.blood_pressure_systolic_before.label}}
            {{ form_general.blood_pressure_systolic_before() }}
          </div>

          <div class="form-group mb-3">
            {{form_general.blood_pressure_diastolic_before.label}}
            {{ form_general.blood_pressure_diastolic_before() }}
          </div>

          <div class="form-group mb-3">
            {{form_general.normal_blood_pressure_systolic.label}}
            {{ form_general.normal_blood_pressure_systolic() }}
          </div>

          <div class="form-group mb-3">
            {{form_general.normal_blood_pressure_diastolic.label}}
            {{ form_general.normal_blood_pressure_diastolic() }}
          </div>

          <div class="form-group mb-3">
            {{form_general.blood_glucose_before.label}}
            {{ form_general.blood_glucose_before() }}
          </div>

      </section>
      <section id="section_skin">
      <h2>Кожные покровы</h2>
        <div class="form-group mb-3">
          {{form_general.dry_skin.label}}
          {{ form_general.dry_skin() }}
        </div>

        <div class="form-group mb-3">
          {{form_general.color_skin.label}}
          {{ form_general.color_skin() }}
        </div>

        <div class="form-group mb-3">
          {{form_general.jaundice.label}}
          {{ form_general.jaundice() }}
        </div>
        <div class="form-group mb-3">
          {{form_general.rash.label}}
          {{ form_general.rash() }}
        </div>

        <div class="form-group mb-3">
          {{form_general.throat.label}}
          {{ form_general.throat() }}
        </div>

        <div class="form-group mb-3">
          {{form_general.tonsils.label}}
          {{ form_general.tonsils() }}
        </div>

        <div class="form-group mb-3">
          {{form_general.lymph_nodes.label}}
          {{ form_general.lymph_nodes() }}
        </div>

        <div class="form-group mb-3">
          {{form_general.swelling.label}}
          {{ form_general.swelling() }}
        </div>

      
      </section>
      <section id="section_breath">
      <h2>Дыхательная система</h2>
    
        <div class="form-group mb-3">
          {{form_general.respiratory_type.label}}
          {{ form_general.respiratory_type() }}
        </div>

        <div class="form-group mb-3">
          {{form_general.wheezing.label}}
          {{ form_general.wheezing() }}
        </div>

        
        <div class="form-group mb-3">
          {{form_general.wheezing_localisation.label}}
          {{ form_general.wheezing_localisation() }}
        </div>

        
        <div class="form-group mb-3">
          {{form_general.dyspnea.label}}
          {{ form_general.dyspnea() }}
        </div>

    
      </section>
      <section id="section_heart">
      <h2>Сердечно сосудистая система</h2>
        <div class="form-group mb-3">
          {{form_general.tone_of_heart.label}}
          {{ form_general.tone_of_heart() }}
        </div>

        <div class="form-group mb-3">
          {{form_general.murmur.label}}
          {{ form_general.murmur() }}
        </div>

        <div class="form-group mb-3">
          {{form_general.characteristic_pulse.label}}
          {{ form_general.characteristic_pulse() }}
        </div>
        
        <div class="form-group mb-3">
          {{form_general.rhythmic_pulse.label}}
          {{ form_general.rhythmic_pulse() }}
        </div>
        
        <div class="form-group mb-3">
          {{form_general.rhythmic_tone.label}}
          {{ form_general.rhythmic_tone() }}
        </div>
        
        <div class="form-group mb-3 checkbox">
          {{form_general.heart_rate_deficit.label}}
          {{ form_general.heart_rate_deficit() }}
        </div>

        <div class="form-group mb-3">
          {{form_general.heart_tone_accent.label}}
          {{ form_general.heart_tone_accent() }}
        </div>

      </section>
      <section id="section_stomach">
        <h2>Органы пищеварения</h2>
        <div class="form-group mb-3 checkbox">
          {{form_general.liver.label}}
          {{ form_general.liver() }}
        </div>
          <div class="form-group mb-3">
            {{form_general.pain_stomach.label}}
            {{ form_general.pain_stomach() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.characteristic_stomach.label}}
            {{ form_general.characteristic_stomach() }}
          </div>
          <div class="form-group mb-3 checkbox">
            {{form_general.involved_in_the_act_of_breathing.label}}
            {{ form_general.involved_in_the_act_of_breathing() }}
          </div>
          <div class="form-group mb-3 checkbox">
            {{form_general.is_shchetkin_blumberg.label}}
            {{ form_general.is_shchetkin_blumberg() }}
          </div>
          <div class="form-group mb-3 checkbox">
            {{form_general.is_voskresensky.label}}
            {{ form_general.is_voskresensky() }}
          </div>
          <div class="form-group mb-3 checkbox">
            {{form_general.is_ortner.label}}
            {{ form_general.is_ortner() }}
          </div>
          <div class="form-group mb-3 checkbox">
            {{form_general.is_rovzinga.label}}
            {{ form_general.is_rovzinga() }}
          </div>
          <div class="form-group mb-3 checkbox">
            {{form_general.is_pasternatsky.label}}
            {{ form_general.is_pasternatsky() }}
          </div>
          <div class="form-group mb-3 checkbox">
            {{form_general.is_sitkovsky.label}}
            {{ form_general.is_sitkovsky() }}
          </div>
          <div class="form-group mb-3 checkbox">
            {{form_general.is_obraztsova.label}}
            {{ form_general.is_obraztsova() }}
          </div>
          <div class="form-group mb-3 checkbox">
            {{form_general.is_murphy.label}}
            {{ form_general.is_murphy() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.formed_type_stool.label}}
            {{ form_general.formed_type_stool() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.regular_stool.label}}
            {{ form_general.regular_stool() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.rate_stool.label}}
            {{ form_general.rate_stool() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.rate_stool.label}}
            {{ form_general.rate_stool() }}
         
      </section>
      <section id="section_nerves">
        <h2>Нервная система</h2>
          <div class="form-group mb-3">
            {{form_general.behaviour.label}}
            {{ form_general.behaviour() }}
          </div>
          <div class="form-group mb-3 checkbox">
            {{form_general.none_symptoms.label}}
            {{ form_general.none_symptoms() }}
          </div>
          <div class="form-group mb-3 checkbox">
            {{form_general. nuchal_rigidity.label}}
            {{ form_general. nuchal_rigidity() }}
          </div>
          <div class="form-group mb-3 checkbox">
            {{form_general.is_kernig_symptom.label}}
            {{ form_general.is_kernig_symptom() }}
          </div>
          <div class="form-group mb-3 checkbox">
            {{form_general.is_brudzinski_symptom.label}}
            {{ form_general.is_brudzinski_symptom() }}
          </div>
          <div class="form-group mb-3 checkbox">
            {{form_general.reaction_to_light.label}}
            {{ form_general.reaction_to_light() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.pupils_of_the_eyes.label}}
            {{ form_general.pupils_of_the_eyes() }}
          </div>
          <div class="form-group mb-3 checkbox">
            {{form_general.anisocoria.label}}
            {{ form_general.anisocoria() }}
          </div>
          <div class="form-group mb-3 checkbox">
            {{form_general.nystagmus.label}}
            {{ form_general.nystagmus() }}
          </div>
          <div class="form-group mb-3 checkbox">
            {{form_general.focal_signs.label}}
            {{ form_general.focal_signs() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.speech.label}}
            {{ form_general.speech() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.paralysis.label}}
            {{ form_general.paralysis() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.sensitive.label}}
            {{ form_general.sensitive() }}
          </div>
      </section>
      <section id="section_urogenital">
        <h2>Мочеполовая система</h2>
      <!--   <div class="form-group mb-3">
          {{form_general.painless_urination.label}}
          {{ form_general.painless_urination() }}
        </div> -->
          <div class="form-group mb-3">
            {{form_general.characteristic_urination.label}}
            {{ form_general.characteristic_urination() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.kidney_punch.label}}
            {{ form_general.kidney_punch() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.painless_urination.label}}
            {{ form_general.painless_urination() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.characteristic_urine.label}}
            {{ form_general.characteristic_urine() }}
          </div>

      </section>
      <section id="section_local_status">
        <h2>Локальный статус</h2>
          <div class="form-group mb-3">
            {{form_general.status_localis.label}}
            {{ form_general.status_localis() }}
          </div>
        
      </section>
      <section id="section_help">
        <h2>Оказанная помощь</h2>
          <div class="form-group mb-3">
            {{form_general.ecg_before.label}}
            {{ form_general.ecg_before() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.ecg_after.label}}
            {{ form_general.ecg_after() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.aid.label}}
            {{ form_general.aid() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.temperature_after.label}}
            {{ form_general.temperature_after() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.respiratory_rate_after.label}}
            {{ form_general.respiratory_rate_after() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.saturation_after.label}}
            {{ form_general.saturation_after() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.heartbite_after.label}}
            {{ form_general.heartbite_after() }}
          </div>
          <div class="form-group mb-3">
            {{form_general.pulse_after.label}}
            {{ form_general.pulse_after() }}
          </div>

          <div class="form-group mb-3">
            {{form_general.blood_pressure_systolic_after.label}}
            {{ form_general.blood_pressure_systolic_after() }}
          </div>

          <div class="form-group mb-3">
            {{form_general.blood_pressure_diastolic_after.label}}
            {{ form_general.blood_pressure_diastolic_after() }}
          </div>

          <div class="form-group mb-3">
            {{form_general.blood_glucose_after.label}}
            {{ form_general.blood_glucose_after() }}
          </div>
      </section>
      <section id="section_diagnosis">
        <h2>Диагноз</h2>
          <div class="form-group mb-3">
            {{form_general.diagnosis.label}}
            {{ form_general.diagnosis() }}
          </div>
        
          <div class="d-grid button-finished">
            {{ form_general.submit() }} <!--Кнопка отвправить-->
          </div>
          <span class="login-link"><a href="{{ url_for('card.finished_card') }}" class="login-btn px-2">Готовая карта</a></span>
      </section>
    </form>
      <div>
        <form action="{{ url_for ('card.finished_card') }}" metrod = "POST">
          <button type="submit" class="btn btn-primary">Завершить</button>
      
        </form>
      </div>
    </div>
  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</div>

</body>
</html>