{% extends "base.html" %}

{% block content %}
  <form action="{{ url_for('card.main_card') }}" methor="POST">
    {{ form.hidden_tag() }}
    <div class="container">
      <h1>Данные пациента</h1>
        <div class = "row">
          <div class = "col-4">
          {{form.last_name.label()}}{{form.last_name()}}
          {{form.first_name.label()}}{{form.first_name()}}
          {{form.surname.label()}}{{form.surname()}}
          {{form.date_of_birth.label()}}{{form.date_of_birth()}}
          {{form.address.label()}}{{form.address()}}<br>
          {{form.submit}}
          </div>
    </div>
  </form>
          <h2>Время</h2>
          <div class = "col-8">
            <form action="{{url_for('patient.create')}}" method="POST">
              <input type = "hidden" name="index" value = "time_of_receipt">
              <h3><button type="button" class="btn btn-secondary" disabled>Время приёма вызова</button>
              {{time_form.time_of_receipt(value = time["time_of_receipt"])}}</h3>
              <br>
              <input type = "hidden" name="index" value = "transmission_time">
              <h3><button type="button" class="btn btn-secondary" disabled>Время передачи вызова</button>
              {{time_form.transmission_time(value = time["transmission_time"])}}</h3>
              <br>
            </form>

            <form action="{{url_for('patient.create')}}" method="POST">
            <input type = "hidden" name="index" value = "departure_time">
            {%if time["departure_time"] == None %}<button type="submit" class="btn btn-primary">Время принятия вызова</button>{% endif %}
            {%if time["departure_time"] != None %}<h3><button type="button" class="btn btn-secondary" disabled>Время принятия вызова</button>
            {{time_form.departure_time(value = time["departure_time"])}}</h3>{%endif%}
            <br>
            </form>

            <form action="{{url_for('patient.create')}}" method="POST">
              <input type = "hidden" name="index" value = "arrival_time">
              {%if time["arrival_time"] == None %}<button type="submit" class="btn btn-primary">Время прибытия на вызов</button>{% endif %}
              {%if time["arrival_time"] != None %}<h3><button type="button" class="btn btn-secondary" disabled>Время прибытия на вызов</button>
              {{time_form.arrival_time(value = time["arrival_time"])}}</h3>{%endif%}
              <br>
            </form>

            <form action="{{url_for('patient.create')}}" method="POST">
              <input type = "hidden" name="index" value = "start_time_of_hospitalization">
              {%if time["start_time_of_hospitalization"] == None %}<button type="submit" class="btn btn-primary">Время начала госпитализации</button>{% endif %}
              {%if time["start_time_of_hospitalization"] != None %}<h3><button type="button" class="btn btn-secondary" disabled> Время начала госпитализации </button> 
              {{time_form.start_time_of_hospitalization(value = time["start_time_of_hospitalization"])}}</h3>{%endif%}
              <br>
            </form>

            <form action="{{url_for('patient.create')}}" method="POST">
              <input type = "hidden" name="index" value = "time_of_arrival_at_hospital">
              {%if time["time_of_arrival_at_hospital"] == None %}<button type="submit" class="btn btn-primary" >Время прибытия в стационар</button>{% endif %}
              {%if time["time_of_arrival_at_hospital"] != None %}<h3><button type="button" class="btn btn-secondary" disabled>Время прибытия в стационар</button>
              {{time_form.time_of_arrival_at_hospital(value = time["time_of_arrival_at_hospital"])}}</h3>{% endif %}
            
              <br>
            </form>
            <form action="{{url_for('patient.create')}}" method="POST">
              <input type = "hidden" name="index" value = "call_end_time">
              {% if time["call_end_time"] == None %}<button type="submit" class="btn btn-primary" >Время окончания</button>{% endif %}
              {%if time["call_end_time"] != None %}<h3><button type="button" class="btn btn-secondary" disabled>Время окончания</button>
              {{time_form.call_end_time(value = time["call_end_time"])}}</h3>{%endif%}
              <br>
            </form>
            <form action="{{url_for('card.update')}}" method="POST">
              <button tyoe="submit" class="btn btn-primary"> Завершить вызов<button>
            </form>
{% endblock %}