<!DOCTYPE html>
<html lang="en">
<head> <!--https://codehandbook.org/create-login-page-python-flask-bootstrap/-->
  <!--button{-webkit-appearance:button}[type=button]:not(:disabled),-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!--<link rel="stylesheet" href="css/all.min.css">
  <link rel="stylesheet" href="css/style.css">-->
  <title>Пациент</title>
</head>
<body>
  <form action="{{ url_for('card.main_card') }}" methor="POST">
    {{ form.hidden_tag() }}
    <div class="container">
      <h1>Данные пациента</h1>
        <div class = "row">
          <div class = "col-4">
          {{form.last_name.label()}}{{form.last_name(value=form.patient.last_name)}}
          {{form.first_name.label()}}{{form.first_name(value=form.patient.first_name)}}
          {{form.surname.label()}}{{form.surname(value=form.patient.surname)}}
          {{form.age.label()}}{{form.age(value=form.patient.age)}}
          {{form.address.label()}}{{form.address(value=form.patient.address)}}<br>
          {{form.submit}}
          </div>
    </div>
  </form>
          <h2>Время</h2>
          <div class = "col-8">
             {{time_form.time_of_receipt.label}}: {{time_form.time_of_receipt(value = time_form.current_time)}}
             {{time_form.transmission_time.label}}: {{time_form.transmission_time(value = time_form.current_time)}}
          <form action="{{url_for('patient.create')}}" method="POST">
            <input type = "hidden" name="index" value = "departure_time">
            <button type="submit" class="btn btn-primary" >Время принятия вызова</button>
            {%if time["departure_time"] != None %}<h2>{{time["departure_time"]}}</h2>{%endif%}
            <br>
          </form>
          <form action="{{url_for('patient.create')}}" method="POST">
            <input type = "hidden" name="index" value = "arrival_time">
            <button type="submit" class="btn btn-primary">Время прибытия на вызов</button>
            {%if time["arrival_time"] != None %}<h2>{{time["arrival_time"]}}</h2>{%endif%}
            <br>
          </form>
          <form action="{{url_for('patient.create')}}" method="POST">
            <input type = "hidden" name="index" value = "start_time_of_hospitalization">
            <button type="submit" class="btn btn-primary">Время начала госпитализации</button>
            {%if time["start_time_of_hospitalization"] != None %}<h2>{{time["start_time_of_hospitalization"]}}</h2>{%endif%}
            <br>
          </form>
          <form action="{{url_for('patient.create')}}" method="POST">
            <input type = "hidden" name="index" value = "time_of_arrival_at_hospital">
            <button type="submit" class="btn btn-primary" >Время прибытия в стационар</button>
            {%if time["time_of_arrival_at_hospital"] != None %}<h2>{{time["time_of_arrival_at_hospital"]}}</h2>{%endif%}
            <br>
          </form>
          <form action="{{url_for('patient.create')}}" method="POST">
            <input type = "hidden" name="index" value = "call_end_time">
            <button type="submit" class="btn btn-primary" >Время окончания</button>
            {%if time["call_end_time"] != None %}<h2>{{time["call_end_time"]}}</h2>{%endif%}
          </form>
          </div> 
        </div>
    </div> 
  


  <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>